﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h4>Error</h4>

<br /><br />

<div><b>Access Denied!</b>  @ViewBag.ErrorMessage.</div>

<br />

<div>Please contact the PSS Customer Service Center at <a href="mailto:securityclearance@state.gov">securityclearance@state.gov</a> for assistance.</div>

<br /><br /><br />
