﻿@{
    ViewBag.Title = "Role Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string roleID = Request["rid"] == null || Request["rid"] == "0" ? "0" : Request["rid"].ToString();
}

<br />

<h4>@ViewBag.Title</h4>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <input class="form-control" id="searchBox" placeholder="Enter a username" type="text" value="@Request["nm"]" />
        </div>
        <div class="col-md-2 pull-left">
            <button class="btn btn-sm btn-primary" id="searchButton" onclick="fnSearchForUser()" title="Filter list"><span class="glyphicon glyphicon-search"></span></button>
            @if (Request["nm"] != null && Request["nm"].ToString().Length > 0)
            {
                <button class="btn btn-sm btn-warning" id="clearButton" onclick="fnClearSearchCriteria()" title="Clear search criteria"><span class="glyphicon glyphicon-remove"></span></button>
            }
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-md-1">
            <a class="btn btn-sm btn-success" href="#" onclick="fnShowCreateUserRole()" title="Create new user role">
                <span class="glyphicon glyphicon-plus-sign"></span> Create
            </a>        
        </div>
        <div class="col-md-2 pull-right">
            <select class="form-control col-md-2" id="roleFilter" onchange="javascript: fnSearchForUser();">
                <option value="0">All</option>
                @foreach (KeyValuePair<int, string> role in ViewData["Roles"] as Dictionary<int, string>)
                {
                    <option value="@role.Key">@role.Value</option>
                }
            </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped">
                <tr>
                    <td></td>
                    <td><b>User Name</b></td>
                    <td><b>Role</b></td>
                </tr>
                @foreach (USERROLE role in Model)
                {
                    <tr id="row_@role.ID">
                        <td>
                            @if (role.USERNAME != User.Identity.Name)
                            {
                            <div class="btn-group">
                                <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" onclick="fnShowCofirmDeleteDialog(@role.ID)" title="Delete the user"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete</a></li>
                                    <li><a href="#" onclick="fnEditUserRole(@role.ID, @role.ROLEID, '@role.USERNAME.Replace("\\", "\\\\")')" title="Edit the user"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Edit</a></li>
                                </ul>
                            </div>
                            }
                        </td>
                        <td>@role.USERNAME</td>
                        <td>@role.ROLE.NAME</td>
                    </tr>
                }
            </table>
            <br />
            @if (Request["nm"] != null && Request["nm"] != string.Empty && Model.Count == 0)
            {
                <div class="alert alert-danger text-center" id="noRecordsFound">No case files match your criteria</div>
            }
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-hidden="true" id="confirmDelete">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Deletion</div>
            <div class="modal-body">
                <div>
                    The account for '<b><i><span id="userToDelete"></span></i></b>' will be permanently deleted.  Are you sure you would like to delete this user?
                </div>
                <input id="deleteUserRoleID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('confirmDelete')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnDeleteUserRole()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-hidden="true" id="updateUserRole">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Update User Role</div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <div>
                        <select class="form-control" id="roleID">
                            @foreach (ROLE role in ViewData["RoleList"] as List<ROLE>)
                            {
                                <option value="@role.ID">@role.NAME</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <div>
                        <input class="form-control" id="userName" />
                    </div>
                </div>
                <input id="userRoleID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('updateUserRole')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnUpdateUserRole()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-hidden="true" id="createUserRole">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Create User Role</div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Role</label>
                    <div>
                        <select class="form-control" id="createRoleID">
                            @foreach (ROLE role in ViewData["RoleList"] as List<ROLE>)
                            {
                                <option value="@role.ID">@role.NAME</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <div>
                        <input class="form-control" id="createUserName" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('createUserRole')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnCreateUserRole()">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
        // Set up event handler for searchbox
        $("#searchBox").keyup(function () {
            $("#searchButton").prop("disabled", $(this).val().trim().length < 3);
        });
        // Set disabled button on load
        @if (Request["nm"] == null || (Request["nm"] != null && Request["nm"].Length < 3))
        {
            <text>$("#searchButton").prop("disabled", true);</text>
        }
        $("#roleFilter").val("@roleID");
    });

    document.getElementById("searchBox").onkeypress = function (e) {
        // Set up Enter key to
        if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == "13") {
            if ($(this).val().trim().length > 2) fnSearchForUser();
        }
    }

    function fnSearchForUser() {
        location.href = "/Admin/RoleManager?nm=" + $("#searchBox").val() + "&rid=" + $("#roleFilter").val();
    }

    function fnClearSearchCriteria() {
        $("#searchBox").val("");
        $("#clearButton").hide();
        // Reload page to clear filter
        location.href = "/Admin/RoleManager";
    }

    function fnShowCofirmDeleteDialog(id, username) {
        // Set dialog variables
        $("#userToDelete").text(username);
        $("#deleteUserRoleID").val(id);
        // Show dialog
        fnShowModal("confirmDelete");
    }

    function fnDeleteUserRole() {

        $.ajax({
            type: "GET",
            data: { id: $("#deleteUserRoleID").val() },
            dataType: "json",
            url: "/Admin/DeleteUserRole"
        })
        .success(function (data) {
            if (data.Success) {
                // Remove from the table by refreshing page
                location.href = "/Admin/RoleManager?nm=@Request["nm"]&rid=@Request["rid"]";
            }
            else {
                // Show error dialog
                fnErrorMessage("Error deleting the user.", data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error deleting the user.", status + ":  " + err);
        });
    }

    function fnEditUserRole(id, roleID, username) {
        // Set dialog variables
        $("#userRoleID").val(id);
        $("#roleID").val(roleID);
        $("#userName").val(username);
        // Show dialog
        fnShowModal("updateUserRole");
    }

    function fnUpdateUserRole() {

        $.ajax({
            type: "GET",
            data: { id: $("#userRoleID").val(), roleID: $("#roleID").val(), userName: $("#userName").val() },
            dataType: "json",
            url: "/Admin/UpdateUserRole"
        })
        .success(function (data) {
            if (data.Success) {
                // Update from the table by refreshing page
                location.href = "/Admin/RoleManager?nm=@Request["nm"]&rid=@Request["rid"]";
            }
            else {
                // Show error dialog
                fnErrorMessage("Error updating the user.", data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error updating the user.", status + ":  " + err);
        });
    }

    function fnShowCreateUserRole() {
        // Show dialog
        fnShowModal("createUserRole");
    }

    function fnCreateUserRole() {

        $.ajax({
            type: "GET",
            data: { roleID: $("#createRoleID").val(), userName: $("#createUserName").val() },
            dataType: "json",
            url: "/Admin/CreateUserRole"
        })
        .success(function (data) {
            if (data.Success) {
                // Add from the table by refreshing page
                location.href = "/Admin/RoleManager?nm=@Request["nm"]&rid=@Request["rid"]";
            }
            else {
                // Show error dialog
                fnErrorMessage("Error creating the user.", data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error creating the user.", status + ":  " + err);
        });
    }

</script>