﻿@model IEnumerable<CaseFileTracker.CaseFile>

<script type="text/javascript">
    function filterResults()
    {
        var term = $("#caseFileSearch").val();
        location.href = "/CaseFiles/IndexFiltered?term=" + term;
    }
</script>

@{
    ViewBag.Title = "Case Files";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 pull-left">@Html.ActionLink("New", "Create")</div>
            <div class="col-lg-offset-7 col-lg-3">
                <input id="caseFileSearch" type="text" value="@Request["term"]" />
                <input onclick="filterResults();" type="button" value="Search" />
            </div>
        </div>
    </div>

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Middle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SSN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Middle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SSN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>