﻿<table class="table table-condensed table-striped">
    <tr>
        <td></td>
        <td><b>Name</b></td>
        <td><b>DOB</b></td>
        <td><b>SSN</b></td>
        <td><b>Digitized?</b></td>
    </tr>
    @foreach (CASEFILE cf in Model)
    {
        <tr id="row_@cf.ID">
            <td>
                <button class="btn btn-xs btn-primary" onclick="fnRequestCaseFile(@cf.ID, '@cf.FULLNAME.Trim()', '@cf.SSN', '@cf.DOB')">Request File</button>
            </td>
            <td>@cf.FULLNAME</td>
            <td>@cf.DOB.ToShortDateString()</td>
            <td>@cf.SSN</td>
            <td>
                @if (cf.ISDIGITIZED) { <span>Yes</span> } else { <span>No</span> }
            </td>
        </tr>
    }
</table>

<script type="text/javascript">

    function fnRequestCaseFile(id, fullName, ssn, dob) {

        // Make request
        var url = "/Home/RequestCaseFileByID";
        $.ajax({
            url: url,
            type: "POST",
            data: { id: id },
            dataType: "json"
        }).success(function (data) {
            // Test response
            if (data.Success) {
                // Build form to post back
                var form = $(
                    '<form action="/Home/S2MS" id="s2msForm" method="post">' +
                        '<input type="hidden" id="fullName" name="fullName" value="' + fullName + '"/>' +
                        '<input type="hidden" id="ssn" name="ssn" value="' + ssn + '"/>' +
                        '<input type="hidden" id="dob" name="dob" value="' + dob + '"/>' +
                        '<input type="hidden" id="id" name="id" value="' + id + '"/>' +
                    '</form>'
                );
                // Post form
                console.log("pre post");
                $("body").append(form);
                $(form).submit();
                console.log("post post");
            }
            else {
                // Update view
                $("#fileRequestError").show();
                $(".primaryStatus").hide();
            }
        }).error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error requesting the case file.", status + ":  " + err);
        });
    }

</script>