﻿<table class="table table-condensed" id="tblRequests">
    <tr>
        <td></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=3&page=1&sortCol=FullName&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Subject</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=3&page=1&sortCol=RequestedBy&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Requested By</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=3&page=1&sortCol=ActionDate&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Date Received</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=3&page=1&sortCol=CurrentLocation&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Current Location</a></td>
    </tr>
    @foreach (ERMA.Controllers.RequestResult req in Model)
    {
        <tr id="row_@req.ID">
            <td>
                <div class="btn-group">
                    <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="fnShowHistoryDialog(@req.FileRequestID)" title="View the audit trail for this request.">Track Dates</a></li>
                        @if (!Request.ServerVariables["PATH_INFO"].Contains("MyRequests"))
                        {
                            <li><a href="#" onclick="fnShowCofirmDeleteDialog(@req.FileRequestID, '@req.FullName')">Cancel Request</a></li>
                        }
                    </ul>
                </div>
            </td>
            <td>@req.FullName</td>
            <td>@req.RequestedBy</td>
            <td>@req.ActionDate</td>
            <td>@req.CurrentLocation</td>
        </tr>
    }
</table>

@{Html.RenderPartial("~/Views/Dialogs/_TrackHistory.cshtml");}
@if (!Request.ServerVariables["PATH_INFO"].Contains("MyRequests"))
{
    Html.RenderPartial("~/Views/Dialogs/_ConfirmDelete.cshtml");
}