﻿<table class="table table-condensed" id="tblRequests">
    <tr>
        <td></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=FullName&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Subject</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=RequestedBy&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Requested By</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=ActionDate&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Request Date</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=CurrentLocation&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Current Location</a></td>
    </tr>
    @foreach (ERMA.Controllers.RequestResult req in Model)
    {
        <tr id="row_@req.ID">
            <td>
                <div class="btn-group">
                    <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="fnShowHistoryDialog(@req.FileRequestID)" title="View the audit trail for this request."><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Track Dates</a></li>
                        @if (!Request.ServerVariables["PATH_INFO"].Contains("MyRequests"))
                        {
                            <li><a href="#" onclick="fnShowSendFileDialog(@req.FileRequestID, '@req.FullName', '@req.RequestedBy')" title="Issues the case file to the requestor."><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Issue to Requestor</a></li>
                            <li><a href="/Home/CoverSheet/?id=@(req.ID)" title="Pulls up the cover sheet print view." target="_coverSheet"><span class="glyphicon glyphicon-print"></span>&nbsp;&nbsp;Print Cover Sheet</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="fnDigitizeFile(@req.FileRequestID, '@req.FullName')" title="Send the file to the scan team to be digitized."><span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;Digitize</a></li>
                        }
                        <li class="divider"></li>
                        <li><a href="/CaseFiles/Details/@req.ID" title="View case file details."><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Case File Details</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onclick="fnShowCofirmDeleteDialog(@req.FileRequestID, '@req.FullName')" title="Cancel the case file request."><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancel Request</a></li>
                    </ul>
                </div>
            </td>
            <td>@req.FullName</td>
            <td>@req.RequestedBy</td>
            <td>@req.ActionDate</td>
            <td>@req.CurrentLocation</td>
        </tr>
    }
</table>

@{
    Html.RenderPartial("~/Views/Dialogs/_TrackHistory.cshtml");
    if (!Request.ServerVariables["PATH_INFO"].Contains("MyRequests"))
    {
        Html.RenderPartial("~/Views/Dialogs/_SendFile.cshtml");
    }
    Html.RenderPartial("~/Views/Dialogs/_ConfirmDelete.cshtml");
    Html.RenderPartial("~/Views/Dialogs/_FileUpload.cshtml");
    Html.RenderPartial("~/Views/Dialogs/_ConfirmDigitization.cshtml");
}