﻿@{
    bool isAdminRole = Roles.IsUserInRole(User.Identity.Name, "Administrator") || Roles.IsUserInRole(User.Identity.Name, "FileRoom");
}

<div class="row">
    <div class="col-md-offset-10 col-md-2">
        <select class="form-control col-md-2" id="daysReturned" onchange="javascript: fnDaysReturned();">
            <option value="7">Last 7 days</option>
            <option value="14">Last 14 days</option>
            <option value="30">Last 30 days</option>
        </select>
    </div>
</div>

<br />

<table class="table table-condensed" id="tblRequests">
    <tr>
        <td></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=4&page=1&sortCol=FullName&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Subject</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=4&page=1&sortCol=RequestedBy&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Requested By</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=4&page=1&sortCol=ActionDate&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Return Date</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=4&page=1&sortCol=FileRoomLocation&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">File Room Location</a></td>
    </tr>
    @foreach (ERMA.Controllers.RequestResult req in Model)
    {
        <tr id="row_@req.FileRequestID">
            <td>
                <div class="btn-group">
                    <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="fnShowHistoryDialog(@req.FileRequestID)" title="View the audit trail for this request."><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Track Dates</a></li>
                        @if (isAdminRole)
                        {
                            <li><a href="#" onclick="fnUpdateLocationDialog(@req.FileRequestID, '@req.FileRoomLocation')"><span class="glyphicon glyphicon-book"></span>&nbsp;&nbsp;Update Location</a></li>
                        }
                        <li class="divider"></li>
                        <li><a href="/CaseFiles/Details/@req.ID" title="View case file details."><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Case File Details</a></li>
                    </ul>
                </div>
            </td>
            <td>@req.FullName</td>
            <td>@req.RequestedBy</td>
            <td>@req.ActionDate</td>
            <td id="location_@req.FileRequestID">@req.FileRoomLocation</td>
        </tr>
    }
</table>

<script type="text/javascript">

    @{
        string days = Request["days"] == null || Request["days"] == "0" ? "30" : Request["days"].ToString();
    }

    $(function () {
        $("#daysReturned").val("@days");
    });

    function fnDaysReturned() {

        // Reload grid
        location.href = "@Request.ServerVariables["SCRIPT_NAME"]?status=@ViewBag.CurrentStatus&page=1&sortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection&days=" + $("#daysReturned").val();
    }

</script>

@{Html.RenderPartial("~/Views/Dialogs/_TrackHistory.cshtml");}
@if (isAdminRole)
{
    Html.RenderPartial("~/Views/Dialogs/_UpdateLocation.cshtml");
}
