﻿
@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h4>Access Denied</h4>

<br />

You don't currently have access to this system.  To receive access contact the Customer Service Center at <a href="mailto:securityclearance@state.gov">securityclearance@state.gov</a>.

<br /><br />