﻿@{
    ViewBag.Title = "Requests";
    int currentStatus = int.Parse(ViewBag.CurrentStatus.ToString());
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#tabStatus_@ViewBag.CurrentStatus").addClass("active");
    });

</script>

<br /><br />

<ul class="nav nav-tabs">
    <li id="tabStatus_1" role="presentation"><a href="/Home/AllRequests?status=1">Open Requests (@ViewBag.StatusCounts.Open)</a></li>
    <li id="tabStatus_2" role="presentation"><a href="/Home/AllRequests?status=2">Issued (@ViewBag.StatusCounts.Issued)</a></li>
    <li id="tabStatus_3" role="presentation"><a href="/Home/AllRequests?status=3">In Transit (@ViewBag.StatusCounts.Received)</a></li>
    <li id="tabStatus_4" role="presentation"><a href="/Home/AllRequests?status=4&days=30">Returned</a></li>
</ul>

<br />

@if (ViewBag.CurrentStatus == 1)
{
    <div class="row">
        <div class="col-md-offset-11 col-md-1">
            <a class="btn btn-sm btn-success" data-toggle="modal" href="/Home/Print/?status=@(ViewBag.CurrentStatus)&sortCol=@(ViewBag.SortColumn)&sortDir=@(ViewBag.SortDirection)" target="ermaPrintWin" title="Print List">
                <span class="glyphicon glyphicon-print"></span> Print
            </a>
        </div>
    </div>
}

<br />

<div class="row">
    <div class="col-md-12">
        @switch (currentStatus)
        {
            case 1:
                Html.RenderPartial("~/Views/Home/_RequestListing.cshtml");
                break;
            case 2:
                Html.RenderPartial("~/Views/Home/_IssuedListing.cshtml");
                break;
            case 3:
                Html.RenderPartial("~/Views/Home/_InTransitListing.cshtml");
                break;
            case 4:
                Html.RenderPartial("~/Views/Home/_ReturnedListing.cshtml");
                break;
        }
    </div>
</div>

<nav class="text-center">
    <ul class="pagination">
        @for (int n = 1; n <= ViewBag.PageCount; n++)
        {
            if (ViewBag.CurrentPage == n)
            {
                <li class="active"><a>@n</a></li> }
            else
            {
                <li><a href="/Home/AllRequests?status=@ViewBag.CurrentStatus&page=@n&sortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection&days=@ViewBag.Days">@n</a></li> 
            }
        }
    </ul>
</nav>