﻿@model CASEFILE

@{
    Layout = null;
    
    // Test for Unique ID
    var uniqueID = (Model.XIFTACTION == null) ? "<No ID Generated>" : Model.XIFTACTION;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cover Sheet - @Model.FULLNAME</title>
    @Styles.Render("~/Content/css")
</head>
<body onload="window.print()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 h3 text-center">
                <b>@uniqueID</b>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-12 h4 text-center">
                @Model.FULLNAME
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 h4 text-center">
                @Model.SSN
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 h4 text-center">
                @Model.DOB.ToShortDateString()
            </div>
        </div>
    </div>
</body>
</html>