﻿
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h4>Error</h4>

<br />

<div>An <span onclick="javascript: $('#errorDetails').show();">error</span> has occurred.  Please try the action again.  If the problem persists, contact the system administrator.</div>

<br /><br /><br />

<div id="errorDetails" style="color:#fff;display:none">
    @ViewBag.ErrorMessage
</div>
