﻿@{
    ViewBag.Title = "Welcome to ERMA!";
}

<br /><br />

<h4><b>Welcome to the Electronic Records Management Archive!</b></h4>

<br />

<div>
    ERMA allows PSS staff to request hard copy files that have not yet been digitized and included in S2MS.
</div>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading" onclick="location.href='/Home/MyRequests'" style="cursor:pointer" title="Click to view your open requests">Open Requests</div>
                <div class="panel-body text-center"><h1>@ViewBag.StatusCounts.Open</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-warning">
                <div class="panel-heading" onclick="location.href='/Home/MyRequests?status=2'" style="cursor:pointer" title="Click to view case files that have been issued to you, but not yet claimed">Issued Requests</div>
                <div class="panel-body text-center"><h1>@ViewBag.StatusCounts.Issued</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-success">
                <div class="panel-heading" onclick="location.href='/Home/MyRequests?status=3'" style="cursor:pointer" title="Click to view case files in your possession">Received Requests</div>
                <div class="panel-body text-center"><h1>@ViewBag.StatusCounts.Received</h1></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading" onclick="location.href='/Home/MyRequests?status=4'" style="cursor:pointer" title="Click to view your recently returned case files">Returned Requests</div>
                <div class="panel-body text-center"><h1>@ViewBag.StatusCounts.Returned</h1></div>
            </div>
        </div>
    </div>
</div>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well">
                To view the details of your case file requests, click <a href="/Home/MyRequests">My Requests</a> in the main navigation bar above.
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                If you'd like to request a file, you may do so from S2MS or by clicking  <a href="/Home/Subjects">Subjects</a> in the main navigation bar above.
            </div>
        </div>
    </div>
</div>

