﻿@{
    ViewBag.Title = "My Requests";
    int currentStatus = int.Parse(ViewBag.CurrentStatus.ToString());
}

<script type="text/javascript">

    $(document).ready(function () {
        $("#tabStatus_@ViewBag.CurrentStatus").addClass("active");
    });

</script>

<br /><br />

<ul class="nav nav-tabs">
    <li id="tabStatus_1" role="presentation"><a href="/Home/MyRequests?status=1">Open Requests (@ViewBag.StatusCounts.Open)</a></li>
    <li id="tabStatus_2" role="presentation"><a href="/Home/MyRequests?status=2">Issued (@ViewBag.StatusCounts.Issued)</a></li>
    <li id="tabStatus_3" role="presentation"><a href="/Home/MyRequests?status=3">In Transit (@ViewBag.StatusCounts.Received)</a></li>
    <li id="tabStatus_4" role="presentation"><a href="/Home/MyRequests?status=4&days=30">Returned</a></li>
</ul>

<br /><br />

<div class="row">
    <div class="col-md-12">
        @switch (currentStatus)
        {
            case 1:
                Html.RenderPartial("~/Views/Home/_RequestListing.cshtml");
                break;
            case 2:
                Html.RenderPartial("~/Views/Home/_IssuedListing.cshtml");
                break;
            case 3:
                Html.RenderPartial("~/Views/Home/_InTransitListing.cshtml");
                break;
            case 4:
                Html.RenderPartial("~/Views/Home/_ReturnedListing.cshtml");
                break;
        }
    </div>
</div>

<nav class="text-center">
    <ul class="pagination">
        @for (int n = 1; n <= ViewBag.PageCount; n++)
        {
            if (ViewBag.CurrentPage == n) { <li class="active"><a>@n</a></li> }
            else { <li><a href="/Home/MyRequests?status=@ViewBag.CurrentStatus&page=@n&sortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">@n</a></li> }
        }
    </ul>
</nav>
