﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request Sheet - @DateTime.Today.ToShortDateString()</title>
    @Styles.Render("~/Content/css")
</head>
<body onload="window.print()">
    <div class="container">
        <div class="row">
            <table cellpadding="5" class="table-condensed table-striped table-bordered" style="width:100%">
                <tr>
                    <td class="col-md-3">Subject</td>
                    <td class="col-md-3">Requestor</td>
                    <td class="col-md-3">Request Date</td>
                    <td class="col-md-1 text-center">Pulled</td>
                    <td class="col-md-1 text-center">Delivered</td>
                    <td class="col-md-1 text-center">Issued</td>
                </tr>
                @foreach (ERMA.Controllers.ListRequest req in Model)
                {
                    <tr>
                        <td>
                            @req.FullName
                            <br />
                            @req.DOB.ToShortDateString()
                            <br />
                            @req.SSN
                        </td>
                        <td>@req.RequestedBy</td>
                        <td>@req.ActionDate</td>
                        <td class="text-center h1"><b>&#9712;</b></td>
                        <td class="text-center h1">&#9712;</td>
                        <td class="text-center h1">&#9712;</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
