﻿@{
    ViewBag.Title = "Scan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<h5>Scan Queue</h5>

<br />

<table class="table table-condensed" id="tblRequests">
    <tr>
        <td></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=FullName&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Subject</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=RequestedBy&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Requested By</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=ActionDate&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Request Date</a></td>
        <td><a href="@Request.ServerVariables["SCRIPT_NAME"]?status=1&page=1&sortCol=CurrentLocation&LastSortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection">Current Location</a></td>
    </tr>
    @foreach (ERMA.Controllers.RequestResult req in Model)
    {
        <tr id="row_@req.ID">
            <td>
                <div class="btn-group">
                    <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Action <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" onclick="fnShowHistoryDialog(@req.FileRequestID)" title="View the audit trail for this request."><span class="glyphicon glyphicon-list"></span>&nbsp;&nbsp;Track Dates</a></li>
                        <li class="divider"></li>
                        <li><a href="#" onclick="fnConfirmMarkAsDigitized(@req.FileRequestID, @req.ID, '@req.FullName')" title="Mark the case file as digitized."><span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Mark as Digitized</a></li>
                        <li class="divider"></li>
                        <li><a href="/CaseFiles/Details/@req.ID" title="View case file details."><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Case File Details</a></li>
                    </ul>
                </div>
            </td>
            <td>@req.FullName</td>
            <td>@req.RequestedBy</td>
            <td>@req.ActionDate</td>
            <td>@req.CurrentLocation</td>
        </tr>
    }
</table>

@{
    Html.RenderPartial("~/Views/Dialogs/_TrackHistory.cshtml");
    Html.RenderPartial("~/Views/Dialogs/_FileUpload.cshtml");
    Html.RenderPartial("~/Views/Dialogs/_SendFile.cshtml");
    Html.RenderPartial("~/Views/Dialogs/_MarkAsDigitized.cshtml");
}