﻿
@{
    ViewBag.Title = "ERMA - Search for case file";
    Layout = "~/Views/Shared/_S2MSLayout.cshtml";
}

<h4>Case Files for: <b>@TempData["FullName"]</b></h4>

<br />

<div class="alert alert-danger">The case file you requested could not be found.  Search for it below.</div>

<form id="subjectForm" method="post">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table>
                    <tr><td><b>Name:</b>&nbsp;&nbsp;</td><td>@ViewData["FullName"]</td></tr>
                    <tr><td><b>DOB:</b></td><td>@ViewData["DoB"]</td></tr>
                    <tr><td><b>SSN:</b></td><td>@ViewData["SSN"]</td></tr>
                </table>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <input class="form-control" id="searchBox" placeholder="Enter subject name" type="text" value="@Request["nm"]" />
            </div>
            <div class="col-md-1 pull-left">
                <button class="btn btn-sm btn-primary" onclick="fnSearchForUser()" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                <table class="table table-condensed table-striped">
                    <tr>
                        <td></td>
                        <td><b>Name</b></td>
                        <td><b>DOB</b></td>
                        <td><b>SSN</b></td>
                        <td><b>Digitized?</b></td>
                    </tr>
                    @foreach (CASEFILE cf in Model)
                    {
                        <tr id="row_@cf.ID">
                            <td>
                                <button class="btn btn-xs btn-primary" onclick="fnRequestCaseFile(@cf.ID, @(cf.PERSONID == null ? 0 : cf.PERSONID), '@cf.FULLNAME', '@cf.DOB', '@cf.SSN')">Request File</button>
                            </td>
                            <td>@cf.FULLNAME</td>
                            <td>@cf.DOB.ToShortDateString()</td>
                            <td>@cf.SSN</td>
                            <td>
                                @if (cf.ISDIGITIZED)
                                {
                                    <span>Yes</span>
                                }
                                else
                                {
                                    <span>No</span>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <input type="hidden" name="id" id="id" value="@ViewBag["id"]" />
    <input type="hidden" name="dob" id="dob" value="@ViewBag["dob"]" />
    <input type="hidden" name="fullName" id="fullName" value="@ViewBag["fullName"]" />
    <input type="hidden" name="ssn" id="ssn" value="@ViewBag["ssn"]" />
</form>

<script type="text/javascript">

    document.getElementById("searchBox").onkeypress = function (e) {
        if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == "13") {
            fnSearchForUser();
        }
    }

    function fnRequestCaseFile(id, personID, fullName, dob, ssn) {
        // Make request
        var url = "/Home/RequestCaseFileByID";
        $.ajax({
            url: url,
            type: "GET",
            data: { id: id },
            dataType: "json",
            contentType: "application/json"
        }).success(function (data) {
            // Test response
            if (data.Success) {
                // Refresh page
                location.href = "/Home/S2MS?fullName=" + fullName + "&ssn=" + ssn + "&dob=" + dob + "&id=" + personID;
            }
            else {
                // Update view
                $("#fileRequestError").show();
                $(".primaryStatus").hide();
            }
        }).error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error requesting the case file.", status + ":  " + err);
        });
    }

    function fnSearchForUser() {
        location.href = "/Home/SearchForFile?fullName=@Request["fullName"]&dob=@Request["dob"]&ssn=@Request["ssn"]&id=@Request["id"]&nm=" + $("#searchBox").val();
    }

</script>