﻿
@{
    ViewBag.Title = "Subjects";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isAdminRole = Roles.IsUserInRole(User.Identity.Name, "Administrator") || Roles.IsUserInRole(User.Identity.Name, "FileRoom");
}

<br />

<h4>@ViewBag.Title</h4>

<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <input class="form-control" id="searchBox" placeholder="Enter subject name" type="text" value="@Request["nm"]" />
        </div>
        <div class="col-md-1 pull-left">
            <button class="btn btn-sm btn-primary" id="searchButton" onclick="fnSearchForUser()"><span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 h6"><i>Must enter at least 3 characters</i></div>
        <div class="col-md-1 pull-right">
            <a class="btn btn-sm btn-success" data-toggle="modal" href="/CaseFiles/Create" title="Create new case file">
                <span class="glyphicon glyphicon-plus-sign"></span> Create
            </a>
        </div>
    </div>    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-striped">
                <tr>
                    <td></td>
                    <td><b>Name</b></td>
                    <td><b>DOB</b></td>
                    <td><b>SSN</b></td>
                    <td><b>File Room Location</b></td>
                    <td><b>Digitized?</b></td>
                </tr>
                @foreach (CASEFILE cf in Model)
                {
                    <tr id="row_@cf.ID">
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Action <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    @if (isAdminRole)
                                    {
                                        <li><a href="#" onclick="fnShowHistoryDialog(@cf.ID)" title="Displays the history of the case file."><span class="glyphicon glyphicon-list-alt"></span>&nbsp;&nbsp;Show History</a></li>
                                    }
                                    <li><a href="#" onclick="fnShowCofirmRequestDialog(@cf.ID, '@cf.FULLNAME')" title="Request the case file."><span class="glyphicon glyphicon-bullhorn"></span>&nbsp;&nbsp;Request Case File</a></li>
                                    @if (isAdminRole)
                                    {
                                        <li class="divider"></li>
                                        <li><a href="#" onclick="fnShowFileUploadDialog(@cf.ID, '@cf.FULLNAME')" title="Upload the subject case file."><span class="glyphicon glyphicon-upload"></span>&nbsp;&nbsp;Upload Case File</a></li>
                                    }
                                    <li class="divider"></li>
                                    <li><a href="/CaseFiles/Details/@cf.ID" title="View case file details."><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Case File Details</a></li>
                                    @if (isAdminRole)
                                    { 
                                        <li><a href="#" onclick="fnShowCofirmDeleteDialog(@cf.ID, '@cf.FULLNAME')" title="Deletes the case file."><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Delete Case File</a></li>
                                    }
                                </ul>
                            </div>
                        </td>
                        <td>@ERMAHelper.StripTrailingComma(cf.FULLNAME)</td>
                        <td>@cf.DOB.ToShortDateString()</td>
                        <td>@cf.SSN</td>
                        <td id="location_@cf.ID">@cf.FILEROOMLOCATION</td>
                        <td id="isdigitized_@cf.ID">
                            @if (cf.ISDIGITIZED)
                            {
                                <span>Yes</span>
                            }
                            else
                            {
                                <span>No</span>
                            }
                        </td>
                    </tr>
                }
            </table>
            <br />
            @if (Request["nm"] != null && Model.Count == 0)
            {
                <div class="alert alert-danger text-center" id="noRecordsFound">No case files match your criteria</div>
            }
        </div>
    </div>
</div>

<nav class="text-center">
    <ul class="pagination">
        @for (int n = 1; n <= ViewBag.PageCount; n++)
        {
            if (ViewBag.CurrentPage == n)
            {
                <li class="active"><a>@n</a></li> }
            else
            {
                <li><a href="/Home/Subjects?nm=@Request["nm"]&page=@n">@n</a></li>
            }
        }
    </ul>
</nav>

<div class="modal fade" role="dialog" aria-hidden="true" id="confirmDelete">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Deletion</div>
            <div class="modal-body">
                <div>
                    The case file for '<b><i><span id="nameToDelete"></span></i></b>' will be permanently deleted.  Are you sure you would like to delete this case file?
                </div>
                <input id="deleteCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('confirmDelete')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnDeleteCaseFile()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-hidden="true" id="requestFile">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Request</div>
            <div class="modal-body">
                <div>
                    Are you sure you would like to request the case file for '<b><i><span id="nameToRequest"></span></i></b>'?
                </div>
                <input id="requestCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('requestFile')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnRequestCaseFile()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" role="dialog" aria-hidden="true" id="trackHistory">
    <div class="modal-dialog modal-sm" style="width:550px">
        <div class="modal-content">
            <div class="modal-header">Request History</div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <td class="col-md-4">Full Name</td>
                            <td class="col-md-4">Date of Birth</td>
                            <td class="col-md-4">SSN</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-5" id="thFullName"></td>
                            <td class="col-md-4" id="thDOB"></td>
                            <td class="col-md-3" id="thSSN"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <div style="overflow-y:auto;height:159px">
                    <table class="table table-condensed" id="tblHistory">
                        <tr>
                            <td>Date</td>
                            <td>User</td>
                            <td>Status</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('trackHistory')">Close</button>
            </div>
        </div>
    </div>
</div>

@{Html.RenderPartial("~/Views/Dialogs/_FileUpload.cshtml");}

<script type="text/javascript">

    $(function () {
        // Set up event handler for searchbox
        $("#searchBox").keyup(function() {
            $("#searchButton").prop("disabled", $(this).val().trim().length < 3);
        });
        // Set disabled button on load
        @if (Request["nm"] == null || (Request["nm"] != null && Request["nm"].Length < 3))
        {
            <text>$("#searchButton").prop("disabled", true);</text>
        }
    });

    document.getElementById("searchBox").onkeypress = function (e) {
        // Set up Enter key to 
        if (!e) e = window.event;
        var keyCode = e.keyCode || e.which;
        if (keyCode == "13") {
            if ($(this).val().trim().length > 2) fnSearchForUser();
        }
    }

    function fnSearchForUser() {
        location.href = "/Home/Subjects?nm=" + $("#searchBox").val();
    }

    function fnShowCofirmRequestDialog(caseFileID, fullName) {
        // Set dialog variables
        $("#nameToRequest").text(fullName);
        $("#requestCaseID").val(caseFileID);
        // Show dialog
        fnShowModal("requestFile");
    }

    function fnShowCofirmDeleteDialog(caseFileID, fullName) {
        // Set dialog variables
        $("#nameToDelete").text(fullName);
        $("#deleteCaseID").val(caseFileID);
        // Show dialog
        fnShowModal("confirmDelete");
    }

    function fnDeleteCaseFile() {

        $.ajax({
            type: "GET",
            data: { id: $("#deleteCaseID").val() },
            dataType: "json",
            url: "/Home/DeleteFile"
        })
        .success(function (data) {
            if (data.Success) {
                // Remove from the table by refreshing page
                location.href = "/Home/Subjects?nm=@Request["nm"]";
            }
            else {
                // Show error dialog
                fnErrorMessage("Error deleting the case file.", data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error deleting the case file.", status + ":  " + err);
        });
    }

    function fnRequestCaseFile() {

        $.ajax({
            type: "POST",
            data: { id: $("#requestCaseID").val() },
            dataType: "json",
            url: "/Home/RequestCaseFileByID"
        })
        .success(function (data) {
            if (data.Success) {
                location.href = "/Home/MyRequests";
            }
            else {
                // Show error dialog
                fnErrorMessage("Error retrieving the case file.", data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error retrieving the case file.", status + ":  " + err);
        });
    }

    function fnShowHistoryDialog(requestID) {

        $.ajax({
            type: "GET",
            data: { id: requestID },
            dataType: "json",
            url: "/Home/GetFullRequestHistory"
        })
        .success(function (data) {
            // Add general file info
            $("#thFullName").text(data.Subject.FullName);
            $("#thDOB").text(data.Subject.DOB, false);
            $("#thSSN").text(data.Subject.SSN);
            // Clear current rows
            $("#tblHistory tbody tr").remove();
            // Add audit rows to table
            $.each(data.Audits, function (rowIndex, rqst) {
                var row = "<tr><td>" + rqst.ActionDate + "</td><td>" + rqst.ActionUser + "</td><td>" + rqst.Status + "</td></tr>";
                $("#tblHistory").append(row);
            });
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error retrieving the case file history.", status + ":  " + err);
        });

        // Show modal
        $("#trackHistory").modal("show");
    }

</script>