﻿@model ERMA.CASEFILE
@using System

@{
    ERMAEntities db = new ERMAEntities();
    List<CASEFILEDOC> docs = db.CASEFILEDOCs.Where(d => d.CASEFILEID == Model.ID && d.ACTIVE == true).ToList();

    bool isAdminRole = Roles.IsUserInRole(User.Identity.Name, "Administrator") || Roles.IsUserInRole(User.Identity.Name, "FileRoom");
}

<div class="row">
    <div class="col-md-offset-1 col-md-11">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td></td>
                    <td class="col-md-3">Name</td>
                    <td class="col-md-5">Description</td>
                    <td class="col-md-3">Upload Date</td>
                </tr>
            </thead>
            <tbody id="fileListTableBody">
                @foreach (CASEFILEDOC cfd in docs)
                {
                    string filePath = "/Files/" + cfd.CASEFILE.CASEFILEDATE.Year + "/" + cfd.CASEFILE.XIFTACTION + "/" + cfd.FILENAME;
                    <tr id="docTableRow_@cfd.ID">
                        @if (isAdminRole)
                        {
                            <td><a class="btn btn-xs btn-danger" href="#" onclick="fnDeleteFile(@cfd.ID)" title="Delete file"><span class="glyphicon glyphicon-remove"></span></a></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td class="col-md-3"><a href="/Home/GetFile/@cfd.ID" target="_blank">@cfd.NAME</a></td>
                        <td class="col-md-5">@cfd.DESCRIPTION</td>
                        <td class="col-md-3">@cfd.UPLOADDATE</td>
                    </tr>
                }
            </tbody>
            @if (isAdminRole)
            {
                <tr>
                    <td>
                        <button class="btn btn-sm btn-default" onclick="fnShowFileUploadDialog(@Model.ID, '@Model.FULLNAME')"><span class="glyphicon glyphicon-plus"></span> Add File</button>
                    </td>
                    <td colspan="4"></td>
                </tr>
            }
        </table>
    </div>
</div>

@{Html.RenderPartial("~/Views/Dialogs/_FileUpload.cshtml");}

<script type="text/javascript">

    function fnDeleteFile(id) {

        if (confirm("Are you sure you would like to delete this file?")) {
            // Delete the file
            $.ajax({
                type: "GET",
                data: { id: id },
                dataType: "json",
                url: "/Home/DeleteDocument"
            })
            .success(function (data) {
                // Test for error
                if (data.HasError)
                    fnErrorMessage("The document could not be deleted", data.Exception);
                else
                    // Remove deleted record
                    $("#docTableRow_" + id).remove();
            })
            .error(function (xhr, status, err) {
                // Show error dialog
                fnErrorMessage("Error deleting file request.", status + ":  " + err);
            });
        }
    }

</script>