﻿@model ERMA.CASEFILE
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $(function () {

        // Set up validation
        $("#caseFileForm").validate({

            rules: {
                LASTNAME: "required",
                FIRSTNAME: "required",
                DOB: { required: true, date: true },
                CASEFILEDATE: { required: true, date: true }
            },

            messages: {
                LASTNAME: "Last Name is required",
                FIRSTNAME: "First Name is required",
                DOB: {
                    required: "DOB is required",
                    date: "Not a valid date"
                },
                CASEFILEDATE: {
                    required: "Case File Date is required",
                    date: "Not a valid date"
                }
            },

            submitHandler: function (form) {
                form.submit();
            }
        });

        // Hack fix since MVC adds novalidate attribute to form tag
        $("#caseFileForm").removeAttr("novalidate");
    });

</script>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Create", "CaseFiles", FormMethod.Post, new { id = "caseFileForm", name = "caseFileForm" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-horizontal">
        <h4>Create new Case File</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2" for="LASTNAME">Last Name</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LASTNAME, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="XIFTACTION">Xift ID</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.XIFTACTION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.XIFTACTION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FIRSTNAME">First Name</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.FIRSTNAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FIRSTNAME, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="PERSONID">Person ID</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.PERSONID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PERSONID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MIDDLENAME">Middle Name</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.MIDDLENAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MIDDLENAME, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="CMSFILEID">CMS File ID</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CMSFILEID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CMSFILEID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DOB">DOB</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="CASEFILEDATE">Case File Date</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CASEFILEDATE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CASEFILEDATE, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="SSN">SSN</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SSN, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="HasClassifiedHardCopy">Has Classified Data</label>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HASCLASSIFIEDHARDCOPY)
                    @Html.ValidationMessageFor(model => model.HASCLASSIFIEDHARDCOPY, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="BIRTHPLACE">Birth Place</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.BIRTHPLACE, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BIRTHPLACE, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="ISDIGITIZED">Is Digitized</label>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ISDIGITIZED)
                    @Html.ValidationMessageFor(model => model.ISDIGITIZED, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FILEROOMLOCATION">File Room Location</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.FILEROOMLOCATION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FILEROOMLOCATION, "", new { @class = "text-danger" })
            </div>
            <label class="control-label col-md-2" for="ACTIVE">Active</label>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ACTIVE)
                    @Html.ValidationMessageFor(model => model.ACTIVE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CURRENTLOCATION">Current Location</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CURRENTLOCATION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CURRENTLOCATION, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-7 col-md-5">
                <button type="submit" value="Save" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span> Create
                </button>
            </div>
        </div>
    </div>
}