﻿@model ERMA.CASEFILE

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";

    bool isAdminRole = Roles.IsUserInRole(User.Identity.Name, "Administrator") || Roles.IsUserInRole(User.Identity.Name, "FileRoom");
}

@section head {
    <style>
    dd { margin: 2px; }
    dt { margin: 2px; }
    </style>
}

<br />

<div class="form-horizontal">
    <h4>Case File for <b>@Model.FULLNAME</b></h4>
    <hr />

    <div class="form-group">
        <label class="control-label col-md-2" for="LASTNAME">Last Name</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
        <label class="control-label col-md-2" for="XIFTACTION">Xift ID</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.XIFTACTION, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="FIRSTNAME">First Name</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.FIRSTNAME, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
        <label class="control-label col-md-2" for="PERSONID">Person ID</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.PERSONID, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="MIDDLENAME">Middle Name</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.MIDDLENAME, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
        <label class="control-label col-md-2" for="CMSFILEID">CMS File ID</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.CMSFILEID, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="DOB">DOB</label>
        <div class="col-md-2">
            <input disabled="disabled" class="form-control" value="@Model.DOB.ToShortDateString()" />
        </div>
        <label class="control-label col-md-2" for="CASEFILEDATE">Case File Date</label>
        <div class="col-md-2">
            <input disabled="disabled" class="form-control" value="@Model.CASEFILEDATE.ToShortDateString()" />
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="SSN">SSN</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
        <label class="control-label col-md-2" for="HasClassifiedHardCopy">Has Classified Data</label>
        <div class="col-md-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.HASCLASSIFIEDHARDCOPY, new { htmlAttributes = new { @disabled = "true" } })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="BIRTHPLACE">Birth Place</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.BIRTHPLACE, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
        <label class="control-label col-md-2" for="ISDIGITIZED">Is Digitized</label>
        <div class="col-md-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.ISDIGITIZED, new { htmlAttributes = new { @disabled = "true" } })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="FILEROOMLOCATION">File Room Location</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.FILEROOMLOCATION, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
        <label class="control-label col-md-2" for="ACTIVE">Active</label>
        <div class="col-md-2">
            <div class="checkbox">
                @Html.EditorFor(model => model.ACTIVE, new { htmlAttributes = new { @disabled = "true" } })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-md-2" for="CURRENTLOCATION">Current Location</label>
        <div class="col-md-2">
            @Html.EditorFor(model => model.CURRENTLOCATION, new { htmlAttributes = new { @class = "form-control", @disabled = "true" } })
        </div>
    </div>

</div>

@{Html.RenderPartial("~/Views/CaseFiles/_FileListing.cshtml");}

@if (isAdminRole)
{
    <p>
        @Html.ActionLink("Edit Case File", "Edit", new { id = Model.ID })
    </p>
}