﻿@model ERMA.CASEFILE

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">

    $(function () {

        // Set up validation
        $("#caseFileForm").validate({

            rules: {
                LASTNAME: "required",
                FIRSTNAME: "required",
                DOB: { required: true, date: true }
            },

            messages: {
                LASTNAME: "Last Name is required",
                FIRSTNAME: "First Name is required",
                DOB: {
                    required: "DOB is required",
                    date: "Not a valid date"
                }
            },

            submitHandler: function (form) {
                form.submit();
            }
        });

        // Hack fix since MVC adds novalidate attribute to form tag
        $("#caseFileForm").removeAttr("novalidate");
    });

</script>

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "CaseFiles", FormMethod.Post, new { id = "caseFileForm", name = "caseFileForm" }))
{
    @Html.AntiForgeryToken()
    <br />
    <div class="form-horizontal">
        <h4>Case File for <b>@Model.FULLNAME</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            <label class="control-label col-md-2" for="LastName">Last Name</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control", name = "LASTNAME" } })
            </div>

            <label class="control-label col-md-2" for="XiftID">Xift ID</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.XIFTACTION, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FirstName">First Name</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.FIRSTNAME, new { htmlAttributes = new { @class = "form-control", name = "FIRSTNAME" } })
            </div>

            <label class="control-label col-md-2" for="PersonID">Person ID</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.PERSONID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="MiddleName">Middle Name</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.MIDDLENAME, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <label class="control-label col-md-2" for="CMSFileID">CMSFile ID</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CMSFILEID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="DOB">DOB</label>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.DOB, new { @Value = Model.DOB.ToString("M/d/yyyy"), @class = "form-control", name = "DOB" })
            </div>
            <label class="control-label col-md-2" for="CASEFILEDATE">Case File Date</label>
            <div class="col-md-2">
                @Html.TextBoxFor(model => model.CASEFILEDATE, new { @Value = Model.CASEFILEDATE.ToString("M/d/yyyy"), @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="SSN">SSN</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.SSN, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <label class="control-label col-md-2" for="HasClassifiedHardCopy">Has Classified Data</label>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.HASCLASSIFIEDHARDCOPY)
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="BIRTHPLACE">Birth Place</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.BIRTHPLACE, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <label class="control-label col-md-2" for="IsDigitized">Is Digitized</label>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.DisplayFor(model => model.ISDIGITIZED)
                    @Html.Hidden("ISDIGITIZED", Model.ISDIGITIZED)
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="FileRoomLocation">File Room Location</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.FILEROOMLOCATION, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            <label class="control-label col-md-2" for="Active">Active</label>
            <div class="col-md-2">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ACTIVE)
                    @Html.ValidationMessageFor(model => model.ACTIVE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="CurrentLocation">Current Location</label>
            <div class="col-md-2">
                @Html.EditorFor(model => model.CURRENTLOCATION, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-7 col-md-5">
                <button type="submit" value="Save" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span> Save
                </button>
            </div>
        </div>
    </div>
}

@{Html.RenderPartial("~/Views/CaseFiles/_FileListing.cshtml");}
