﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<br /><br />

<p>If you have any technical issues please contact <a href="mailto:simonikme@state.gov">Mark Simonik</a>.</p>

<br /><br />
<br /><br />
