﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="confirmReceipt">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Receipt</div>
            <div class="modal-body">
                <div>
                    Are you sure you would like to take ownership of the case file for '<b><i><span id="subjectName"></span></i></b>'?
                </div>
                <input id="receiveCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('confirmReceipt')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnReceiveFile()">Accept</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnConfirmReceiptDialog(requestID, subjectName) {
        $("#receiveCaseID").val(requestID);
        $("#subjectName").text(subjectName);
        // Show dialog
        fnShowModal("confirmReceipt");
    }

    function fnReceiveFile() {
        var caseFileID = $("#receiveCaseID").val();

        $.ajax({
            type: "GET",
            data: { id: caseFileID, statusID: (@ViewBag.CurrentStatus +1), comments: "" },
            dataType: "json",
            url: "/Home/SendFile"
        })
        .success(function (data) {
            // Reload grid
            location.href = "@Request.ServerVariables["SCRIPT_NAME"]/?status=@ViewBag.CurrentStatus&page=@ViewBag.CurrentPage"
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error moving the case file.", status + ":  " + err);
        });

        // Hide modal
        fnHideModal("confirmReceipt");
    }

</script>