﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="confirmDigitization">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Digitization</div>
            <div class="modal-body">
                <div>
                    The request for '<b><i><span id="nameToDigitize"></span></i></b>' will be moved to the 
                    scan queue.  Are you sure you would like to have this file digitized?
                </div>
                <input id="digitizeCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('confirmDigitization')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnProcessDigitization()">Digitize</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnDigitizeFile(caseFileID, fullName) {
        // Set id and name
        $("#digitizeCaseID").val(caseFileID);
        $("#nameToDigitize").text(fullName);
        // Show dialog
        fnShowModal("confirmDigitization");
    }

    function fnProcessDigitization() {

        var caseFileID = $("#digitizeCaseID").val();

        $.ajax({
            type: "GET",
            data: { id: caseFileID, statusID: 8, comments: "" },
            dataType: "json",
            url: "/Home/SendFile"
        })
        .success(function (data) {
            // Reload grid
            location.href = "@Request.ServerVariables["SCRIPT_NAME"]/?status=@ViewBag.CurrentStatus&page=@ViewBag.CurrentPage"
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error moving the case file to the scan team.", status + ":  " + err);
        });

        // Hide modal
        fnHideModal("confirmDigitization");
    }

</script>