﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="confirmDelete">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Request Cancelation</div>
            <div class="modal-body">
                <div>
                    The request for '<b><i><span id="nameToDelete"></span></i></b>' will be permanently canceled.  Are you sure you would like to cancel this request?
                </div>
                <input id="deleteCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('confirmDelete')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnProcessDelete()">Cancel Request</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnShowCofirmDeleteDialog(caseFileID, fullName) {
        // Set id and name
        $("#deleteCaseID").val(caseFileID);
        $("#nameToDelete").text(fullName);
        // Show dialog
        fnShowModal("confirmDelete");
    }

    function fnProcessDelete() {

        $.ajax({
            type: "GET",
            data: { id: $("#deleteCaseID").val() },
            dataType: "json",
            url: "/Home/DeleteFileRequest"
        })
        .success(function (data) {
            // Reload grid
            location.href = "@Request.ServerVariables["SCRIPT_NAME"]/?status=@ViewBag.CurrentStatus&page=@ViewBag.CurrentPage"
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error deleting file request.", status + ":  " + err);
        });
        // Hide modal
        fnHideModal("confirmDelete");
    }

</script>
