﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="confirmReturn">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Return</div>
            <div class="modal-body">
                <div>
                    Are you sure you would like to return the case file for '<b><i><span id="returnSubjectName"></span></i></b>'?
                </div>
                <input id="returnCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('confirmReturn')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnReturnFile()">Return</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnConfirmReturnDialog(requestID, subjectName) {
        $("#returnCaseID").val(requestID);
        $("#returnSubjectName").text(subjectName);
        // Show dialog
        $("#confirmReturn").modal("show");
    }

    function fnReturnFile() {
        var caseFileID = $("#returnCaseID").val();

        $.ajax({
            type: "GET",
            data: { id: caseFileID, statusID: (@ViewBag.CurrentStatus +1), comments: "" },
            dataType: "json",
            url: "/Home/SendFile"
        })
        .success(function (data) {
            // Reload grid
            location.href = "@Request.ServerVariables["SCRIPT_NAME"]/?status=@ViewBag.CurrentStatus&page=@ViewBag.CurrentPage&sortCol=@ViewBag.SortColumn&sortDir=@ViewBag.SortDirection"
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error returning the case file.", status + ":  " + err);
        });
        // Hide modal
        fnHideModal("confirmReturn");
    }

</script>