﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="editRequest">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Edit Request</div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('editRequest')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnProcessEdit()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnShowEditDialog() {
        // Show dialog
        fnShowModal("editRequest");
    }

</script>