﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="uploadFile">
    <form id="uploadForm" name="uploadForm" action="/Home/UploadCaseFile" enctype="multipart/form-data" method="post">
        <div class="modal-dialog modal-sm" style="width:350px">
            <div class="modal-content">
                <div class="modal-header">Upload File </div>
                <div class="modal-body">
                    Upload case file for "<b><i id="caseSubject"></i></b>"
                    <br /><br />
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input class="form-control" id="casefileDocName" name="casefileDocName" type="text" />
                    </div>
                    <div class="form-group" id="casefileDocDescriptionBlock">
                        <label class="control-label">Description</label>
                        <div>
                            <textarea class="form-control" id="casefileDocDescription" name="casefileDocDescription"></textarea>
                        </div>
                    </div>
                    <input accept="application/pdf" id="caseFile" name="caseFile" type="file" />
                    <input id="uploadCaseFileID" name="uploadCaseFileID" type="hidden" />
                    <br />
                    <span id="uploadMsg" style="color:red"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="fnHideModal('uploadFile')">Close</button>
                    <input class="btn btn-success" id="uploadSubmitBtn" type="submit" value="Submit" />
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    function fnShowFileUploadDialog(caseFileID, fullName) {
        // Ensure form is initialized
        $("#casefileDocName").text("");
        $("#uploadMsg").text("");
        $("#uploadSubmitBtn").show();
        // Set id and name
        $("#uploadCaseFileID").val(caseFileID);
        $("#caseSubject").text(fullName);
        // Clear out file input
        $("#caseFile").val("");
        // Show dialog
        fnShowModal("uploadFile");
    }

    $("form#uploadForm").bind("submit", function (event) {

        // Validate
        if ($("#casefileDocName").val() == "") {
            $("#uploadMsg").text("Name is required.");
            // Stop standard form submission
            event.preventDefault();
            return false;
        }
        else {
            if ($("#caseFile").val() == "") {
                $("#uploadMsg").text("Please select a file.");
                // Stop standard form submission
                event.preventDefault();
                return false;
            }
            else {
                var fileExtension = $("#caseFile").val().split(".");
                if (fileExtension[1] != "pdf") {
                    $("#uploadMsg").text("You must select a pdf file.");
                    // Stop standard form submission
                    event.preventDefault();
                    return false;
                }
            }
        }

        // Stop standard form submission
        event.preventDefault();

        // Load form data object
        var formData = new FormData($(this)[0]);

        $.ajax({
            url: "/Home/UploadCaseFile",
            type: "POST",
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                if (data.HasError) {
                    $("#uploadMsg").text(data.Message);
                }
                else {
                    $("#uploadMsg").text("The file has been uploaded!");
                    $("#uploadSubmitBtn").hide();
                    // Update "Is Digitized" value in table (Subject page)
                    $("#isdigitized_" + $("#uploadCaseFileID").val()).text("Yes");
                    // Add row to file listing (Case file detail/edit pages)
                    $("#fileListTableBody").append("<tr id='docTableRow_" + data.Document.ID + "'>" +
                        "<td><a class='btn btn-xs btn-danger' href='#' onclick='fnDeleteFile(" +
                        data.Document.ID + ")' title='Delete file'><span class='glyphicon glyphicon-remove'></span></a></td><td><a href='/Home/GetFile/" +
                        data.Document.ID + "' target='_blank'>" +
                        data.Document.NAME + "</a></td><td>" +
                        data.Document.DESCRIPTION + "</td><td>" +
                        data.Document.UPLOADDATE + "</td></tr>"
                    );
                }
            },
            error: function (a, b, c) {
                $("#uploadMsg").text("An error occurred!");
            }
        });
    });

</script>