﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="markAsDigitized">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Confirm Digitization</div>
            <div class="modal-body">
                <div>
                    Would you like to mark the case file for '<b><i><span id="digiSubjectName"></span></i></b>' as digitized?
                </div>
                <input id="digitizeCaseID" type="hidden" />
                <input id="digitizeRequestID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('markAsDigitized')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnMarkAsDigitized()">Mark as Digitized</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnConfirmMarkAsDigitized(requestID, caseFileID, subjectName) {
        $("#digitizeCaseID").val(caseFileID);
        $("#digitizeRequestID").val(requestID);
        $("#digiSubjectName").text(subjectName);
        // Show dialog
        fnShowModal("markAsDigitized");
    }

    function fnMarkAsDigitized() {

        var caseFileID = $("#digitizeCaseID").val();
        var requestID = $("#digitizeRequestID").val();

        $.ajax({
            type: "GET",
            data: { caseFileID: caseFileID, requestID: requestID },
            dataType: "json",
            url: "/Home/MarkAsDigitized"
        })
        .success(function (data) {
            // Reload grid
            location.href = "@Request.ServerVariables["SCRIPT_NAME"]/?status=@ViewBag.CurrentStatus&page=@ViewBag.CurrentPage"
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error moving the case file.", status + ":  " + err);
        });

        // Hide modal
        fnHideModal("markAsDigitized");
    }

</script>