﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="outForDelivery">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Send Case File</div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Subject</label>
                    <input class="form-control" disabled id="sendCaseSubject" type="text" />
                </div>
                <div class="form-group">
                    <label class="control-label">Requested By</label>
                    <input class="form-control" disabled id="sendCaseRequestor" type="text" />
                </div>
                <input id="sendCaseID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('outForDelivery')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnProcessSendFile()">Send File</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnShowSendFileDialog(id, subject, requestor) {
        // Clear previous validation notifications
        $("#sendCaseCommentBlock").removeClass("has-error");
        // Set values
        $("#sendCaseID").val(id);
        $("#sendCaseSubject").val(subject);
        $("#sendCaseRequestor").val(requestor);
        // Show dialog
        fnShowModal("outForDelivery");
    }

    function fnProcessSendFile() {
        var caseFileID = $("#sendCaseID").val();

        $.ajax({
            type: "GET",
            data: { id: caseFileID, statusID: @ViewBag.CurrentStatus +1, comments: "" },
            dataType: "json",
            url: "/Home/SendFile"
        })
        .success(function (data) {
            // Reload grid
            location.href = "@Request.ServerVariables["SCRIPT_NAME"]/?status=@ViewBag.CurrentStatus&page=@ViewBag.CurrentPage"
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error moving the case file.", status + ":  " + err);
        });
        // Hide modal
        fnHideModal("outForDelivery");
    }

</script>

