﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="transferFile">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Transfer File </div>
            <div class="modal-body">
                <div class="transferStep1">
                    <div class="form-group">
                        <label class="control-label">Transfer "<i><span class='transferFileName'></span></i>" To</label>
                        <input class="form-control" id="searchUser" type="text" placeholder="Enter at least two characters">
                    </div>
                    <ul class="list-group" id="lstUserResults" style="overflow-y:auto;height:167px"><li class="list-group-item">No users found</li></ul>
                    <input id="transferAuditID" type="hidden" />
                    <input id="transferFileID" type="hidden" />
                </div>
                <div class="transferStep2" style="display:none">
                    Are you sure you want to transfer the case file for
                    <br />
                    <i><span class='transferFileName'></span></i>
                    <br />
                    to
                    <br />
                    <span id="transferToUser"></span>?
                </div>
            </div>
            <div class="modal-footer">
                <div class="transferStep1">
                    <button type="button" class="btn btn-default" onclick="fnHideModal('transferFile')">Close</button>
                </div>
                <div class="transferStep2" style="display:none">
                    <button type="button" class="btn btn-default" onclick="$('#transferStep2').hide(); $('#transferStep1').show();"><< Back</button>
                    <button type="button" class="btn btn-default" onclick="fnHideModal('transferFile'); $('#transferStep2').hide(); $('#transferStep1').show();">Close</button>
                    <button type="button" class="btn btn-default" onclick="fnTransferFile($('#transferToUser').text())">Transfer</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnTransferFileDialog(id, auditID, fullName) {

        // Set dialog properties
        $("#transferFileID").val(id);
        $("#transferAuditID").val(auditID);
        $(".transferFileName").text(fullName);
        // Show dialog
        $("#transferFile").modal("show");
    }

    function fnTransferStep2(userID) {

        $("#transferToUser").text(userID);
        $(".transferStep1").hide();
        $(".transferStep2").show();
    }

    function fnTransferFile(transferUser) {
    
        var id = $("#transferFileID").val();
        var auditID = $("#transferAuditID").val();

        // Hide modal
        fnHideModal("transferFile");

        $.ajax({
            type: "GET",
            data: { id: id, auditID: auditID, user: transferUser },
            dataType: "json",
            url: "/Home/TransferFile"
        })
        .success(function (data) {
            // Test for success
            if (data.Success) {
                // Reload page
                location.reload(true);
            }
            else {
                // Show error dialog
                fnErrorMessage("Error transferring file.", status + ":  " + data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error transferring file.", status + ":  " + err);
        });
    }

    $(function () {

        $("#searchUser").autocomplete({
            minLength: 2,
            source: function (request, response) {
                $.ajax({
                    url: "/Home/SearchUsers",
                    type: "POST",
                    dataType: "json",
                    data: { query: request.term },
                    success: function (data) {
                        // Clear list
                        $("#lstUserResults").empty();
                        // Add items to list
                        for (var n = 0; n < data.length; n++) {
                            $("#lstUserResults").append("<li class='list-group-item'><a href='#' onclick=\"javascript:fnTransferStep2('" + data[n].UserNameEscaped + "')\">" + data[n].UserName + "</a></li>");
                        }
                    }
                });
            },
            messages: { noResults: "", results: "" }
        });

        $('#searchUser').on('input', function () {
            if ($(this).val().length < 2) {
                // Clear list
                $("#lstUserResults").empty();
            }
        });
    });

</script>