﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="trackHistory">
    <div class="modal-dialog modal-sm" style="width:650px">
        <div class="modal-content">
            <div class="modal-header">Request History</div>
            <div class="modal-body">
                <table>
                    <thead>
                        <tr>
                            <td class="col-md-4">Full Name</td>
                            <td class="col-md-4">Date of Birth</td>
                            <td class="col-md-4">SSN</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-5" id="thFullName"></td>
                            <td class="col-md-4" id="thDOB"></td>
                            <td class="col-md-3" id="thSSN"></td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <table class="table table-condensed" id="tblHistory">
                    <thead>
                        <tr>
                            <td>Date</td>
                            <td>Action By</td>
                            <td>Status</td>
                            <td>User</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('trackHistory')">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnShowHistoryDialog(requestID) {

        $.ajax({
            type: "GET",
            data: { id: requestID },
            dataType: "json",
            url: "/Home/GetRequestHistory"
        })
        .success(function (data) {
            // Add general file info
            $("#thFullName").text(data[0].FullName);
            $("#thDOB").text(fnFormatDate(data[0].DOB, false));
            $("#thSSN").text(data[0].SSN);
            // Clear current rows
            $("#tblHistory tbody tr").remove();
            // Add audit rows to table
            $.each(data, function (rowIndex, rqst) {
                var row = "<tr><td>" + fnFormatDate(rqst.ActionDate, true) + "</td><td>" + rqst.ActionUser + "</td><td>" + rqst.Status + "</td><td>" + rqst.RequestedBy + "</td></tr>";
                $("#tblHistory").append(row);
            });
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error retrieving case file history.", status + ":  " + err);
        });

        // Show modal
        $("#trackHistory").modal("show");
    }

</script>
