﻿
<div class="modal fade" role="dialog" aria-hidden="true" id="updateLocation">
    <div class="modal-dialog modal-sm" style="width:350px">
        <div class="modal-content">
            <div class="modal-header">Update File Location</div>
            <div class="modal-body">
                <div class="form-group" id="sendCaseCommentBlock">
                    <label class="control-label">Location</label>
                    <div>
                        <input class="form-control" id="fileLocation" />
                    </div>
                </div>
                <input id="fileRequestID" type="hidden" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="fnHideModal('updateLocation')">Close</button>
                <button type="button" class="btn btn-success" onclick="fnSaveFileLocation()">Save</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function fnUpdateLocationDialog(id, location) {
        $("#fileRequestID").val(id);
        $("#fileLocation").val(location);
        // Show dialog
        $("#updateLocation").modal("show");
    }

    function fnSaveFileLocation() {

        var id = $("#fileRequestID").val();
        var location = $("#fileLocation").val();

        $.ajax({
            type: "GET",
            data: { fileRequestID: id, location: location },
            dataType: "json",
            url: "/Home/UpdateFileLocation"
        })
        .success(function (data) {
            // Test for success
            if (data.Success) {
                $("#location_" + id).text(location);
            }
            else {
                // Show error dialog
                fnErrorMessage("Error updating the case file location.", status + ":  " + data.Message);
            }
        })
        .error(function (xhr, status, err) {
            // Show error dialog
            fnErrorMessage("Error updating the case file location.", status + ":  " + err);
        });

        // Hide modal
        fnHideModal("updateLocation");
    }

</script>