﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERMA - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    <script src="/scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
    <script src="/scripts/erma.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("head", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ERMA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Roles.IsUserInRole("Administrator") || Roles.IsUserInRole("Fileroom"))
                    {
                        <li id="requestLink">@Html.ActionLink("Requests", "AllRequests", "Home")</li>
                        <li id="requestLink">@Html.ActionLink("Scan", "Scan", "Home", new { status = 8 }, null)</li>
                    }
                    <li id="myRequestLink">@Html.ActionLink("My Requests", "MyRequests", "Home")</li>
                    <li id="subjectLink">@Html.ActionLink("Subjects", "Subjects", "Home")</li>
                    @if (Roles.IsUserInRole("Administrator"))
                    {
                        <li id="requestLink">@Html.ActionLink("Role Manager", "RoleManager", "Admin")</li>
                    }
                </ul>
                <p class="nav navbar-text navbar-right">Hello, @Request["REMOTE_USER"]</p>
            </div>
        </div>
    </div>
    <div class="alert alert-danger text-center" id="notChrome" style="display:none;">ERMA is optimized for the Chrome browser.  It will not function properly in Internet Explorer.</div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Electronic Records Management Archive</p>
        </footer>
    </div>

    <!-- START Shared Error Dialog -->
    <div class="modal fade" role="dialog" aria-hidden="true" id="errorDialog">
        <div class="modal-dialog modal-sm" style="width:350px">
            <div class="modal-content">
                <div class="modal-header">
                    <span onclick="javascript: alert($('#stackTrace').val())">ERROR</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body col-md-12">
                    <br />
                    <div class="text-danger" id="errorMessage"></div>
                    <span><h6>Please try the action again.  If the problem persists, contact the system administrator for assistance.</h6></span>
                    <input id="stackTrace" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="fnHideModal('errorDialog')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Shared Error Dialog -->

    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">

    $(document).ready(function () {
        var id = "";

        switch ("@Path.GetFileNameWithoutExtension(new UriBuilder(this.Request.Url.AbsoluteUri).Path)") {
            case "AllRequests":
                id = "#requestLink";
                break;
            case "MyRequests":
                id = "#myRequestLink";
                break;
            case "Subjects":
                id = "#subjectLink";
                break;
        }

        $(id).addClass("active");
    });

    // Ensure user is viewing with Chrome
    if (navigator.userAgent.search("Chrome") < 0) $("#notChrome").show();

</script>