﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>S2MS File Repository</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="/scripts/jquery-ui-1.11.4.min.js" type="text/javascript"></script>
    <script src="/scripts/erma.js" type="text/javascript"></script>
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">S2MS File Repository</span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li></li>
                </ul>
                <p class="nav navbar-text navbar-right">@User.Identity.Name</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - S2MS File Repository</p>
        </footer>
    </div>

    <!-- START Shared Error Dialog -->
    <div class="modal fade" role="dialog" aria-hidden="true" id="errorDialog">
        <div class="modal-dialog modal-sm" style="width:350px">
            <div class="modal-content">
                <div class="modal-header">
                    <span onclick="javascript: alert($('#stackTrace').val())">ERROR</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <br />
                    <div class="text-danger" id="errorMessage"></div>
                    <span>Please try the action again.  If the problem persists, contact the system administrator for assistance.</span>
                    <input id="stackTrace" type="hidden" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="fnHideModal('errorDialog')">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Shared Error Dialog -->

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

