﻿@model CaseFileTracker.Models.RegisterViewModel
@{
    ViewBag.Title = "Awaiting Approval";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Your registration is currently awaiting approval.</h4>
    <hr />
    <br /><br />
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                If you need further assistance regarding your registration, please contact <a href="mailto:simonikme@state.gov">Mark Simonik</a>.
            </div>
        </div>
    </div>
}

<br /><br /><br /><br />