﻿<!-- Utility function to kill the trailing comma from the full name calculated field -->
@helper StripTrailingComma(string text) {

    if (@text.LastIndexOf(',') + 1 == @text.Trim().Length)
    {
        <span>@text.Trim().Substring(0, text.Trim().Length - 1)</span>
    }
    else
    {
        <span>@text.Trim()</span>
    }
}
