﻿@using System.Web.Configuration;

@{
    Layout = "~/Views/Shared/_S2MSLayout.cshtml";

    string subjectName = "Name not found";
    
    if (Request.QueryString.AllKeys.Contains("name"))
    {
        subjectName = Request["name"].ToString();
    }
}

<script type="text/javascript">

    $(function () {

        var url = "@WebConfigurationManager.AppSettings["xiftServiceUrl"]?uniqueid=@Request["uniqueid"]&ssn=@Request["ssn"]&dob=@Request["dob"]";

        //$.getJSON(url)
        //    .done(function (data) {
        //        $.each(function (index, item) {
        //            $("#fileListing").append("<li>" + item.fileName + "</li>");
        //        });
        //    })
        //    .error(function () {
        //        $("#fileListing").append("<li>Invalid request</li>");
        //    });

        $.ajax({
            url: "@WebConfigurationManager.AppSettings["xiftServiceUrl"]?uniqueid=@Request["uniqueid"]&ssn=@Request["ssn"]&dob=@Request["dob"]",
            type: "GET",
            dataType: "jsonp",
            contentType: "application/json",
            callback: "processFiles"
        //})
        //.success(function (data) {
        //    $.each(function (index, item) {
        //        $("#fileListing").append("<li>" + item.fileName + "</li>");
        //    });
        //})
        //.error(function (xhr, status, err) {
        //    $("#fileListing").append("<li>Invalid request</li>");
        });

    });

    function processFiles(data) {
        alert(data);
    }

</script>

<h4>Case Files for: <b>@subjectName</b></h4>

<br />

<ul id="fileListing"></ul>

<br /><br />
